.faq {
    &__maintitle{
        text-align: center;
        margin-top: 50px;
       font-size: 35px;
        color: #1e629f;
    }
    &__text {
        border: 1px solid black;
        padding: 10px 5px;
        

    }
}